<!doctype html>
<html lang="en">
<head th:insert="~{/partials/header.html}"></head>
<body>
    <form id="createForm"class="d-flex flex-column" action="/recipe/create" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="description" placeholder="description">
        <div>
            <input type="text" name="ingredients" placeholder="ingredients">
            <input type="number" name="quantity" placeholder="quantite">
            <button type="button" id="addIngredient">Add ingredient</button>
        </div>
        <input type="submit" value="Create">
    </form>
<div class="d-flex flex-column" id="ingredientsListContainer">
    Ingredients:
    <ul id="ingredientsList">

    </ul>
</div>
</body>
<script>
    let ingredients = [];
        $('#addIngredient').click(function () {
            let ingredient = {
                name: $('input[name="ingredients"]').val(),
                quantity: $('input[name="quantity"]').val()
            };
            ingredients=[...ingredients,ingredient];
            $("input[name='ingredients']").val('');
            $('input[name="quantity"]').val('');
            console.log(ingredients);
            $('#ingredientsList').empty();
            ingredients.forEach(function (ingredient) {
                $('#ingredientsList').append('<li>' + ingredient.name + ' ' + ingredient.quantity + '</li>');
            })
        });
       document.addEventListener("submit", function(event) {
           event.preventDefault();
           let formData = {name:"", description:"", ingredients:[]};
           formData.name = $("input[name='name']").val();
           formData.description = $("input[name='description']").val();
           formData.ingredients = ingredients;
           fetch("/recipe/create", {
               method: "POST",
               body: JSON.stringify(formData),
                headers: {
                     'Content-Type': 'application/json'
                }
           }).then(response => response.json())
               .then(data => {
                   console.log(data)
                   location.href = "/recipe/all";
               })
               .catch(error => console.log(error));
       });
</script>
</html>